@charset "UTF-8";

<<<<<<< Updated upstream
	.bbsContent {		
		float: left;
=======
	.bbsContent {
>>>>>>> Stashed changes
		padding: 20px;
		justify-content: center;
		align-items: center;
		display: flex;
	}
	
	.product-wrapper{
		border: 1px solid #c0c0c0;
		margin: 20px;
		display: flex;
		padding: 20px;
		height: 300px;
		width: 200px;
	}
	
	.price-wrapper {
	
	}
	
	.sleCmptnYn-btn {
		font-size: 11px;
		margin: 5px;
		padding: 5px;
		height: 20px;
		width: 55px;
		box-sizing: border-box;
		border: 1px solid black;
		background-color: #c0c0c0;
		align-content: center;
	}
	
	.product-price {
		font-weight: bold;
		align-content: center;
	}
	
	.register-date {
		font-size: 11px;
	}
	.transparent-button{
	  border: 0;
	  background-color: transparent;
	}
	.small_button{
	    height:50px;
	    width: 50px;
	
	}
	.bbsViewBtnWrap{
		margin-right:25px;
	}