@charset "UTF-8";

	.bbsContent{
		padding: 20px;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		width: calc(100% - 200px);
		flex-wrap: wrap;
	}

	.bbs-list-part {		
		padding: 20px;
		justify-content: center;
		align-items: flex-start;
		display: flex;
		width: calc(100% - 200px);
		flex-wrap: wrap;
	}
	
	.product-wrapper{
		border: 1px solid #c0c0c0;
		margin: 20px;
		display: flex;
		padding: 20px;
		height: 300px;
		width: 200px;
		justify-content: center;
	}
	
	.product-title{
		font-size: 20px;
		font-weight: bold;
	}
	
	.product-item{
		align-content: center;
	}
	
	.price-wrapper {
		display: flex;
	}
	
	.sleCmptnYn-btn {
		font-size: 11px;
		margin: 5px;
		padding: 5px;
		height: 20px;
		width: 60px;
		box-sizing: border-box;
		border: 1px solid black;
		background-color: #c0c0c0;
		align-content: center;
	}
	
	.product-price {
		font-weight: bold;
		align-content: center;
	}
	
	.register-date {
		font-size: 11px;
	}
	
	.bbs-regi-btn {
	    position: fixed;
	    right: 25px;
	    bottom: 40px;
	    background: pink;
	    border-radius: 50%;
	    font-weight: bold;
	    color: white;
	    font-size: 35px;
	    width: 70px;
	    height: 70px;
	    border: 1px solid #fff;
	}
	
	.bbs-regi-btn a {
		display: flex;
	    width: 100%;
	    height: 100%;
	    justify-content: center;
	    align-items: center;
	}

/*게시글 상세페이지 css*/	
	
	.form-container {
	    background: white;
	    max-width: 500px;  /* 폭 줄임 */
	    margin: 40px auto;  /* 상하 여백 추가 */
	    padding: 40px;  /* 내부 패딩 증가 */
	    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);  /* 그림자 강조 */
	    border: 1px solid #ddd;  /* 테두리 추가 */
	}
	
	.form-group {
	    margin-bottom: 25px;  /* 여백 증가 */
	}
	
	.form-group label {
	    display: block;
	    margin-bottom: 10px;  /* 레이블과 입력 필드 사이의 여백 증가 */
	    font-size: 16px;  /* 폰트 크기 증가 */
	    font-weight: bold;  /* 폰트 무게 강조 */
	}
	
	.form-group input[type="text"],
	.form-group input[type="number"],
	.form-group select,
	.form-group textarea {
	    width: 100%;
	    padding: 10px;  /* 패딩 증가 */
	    box-sizing: border-box;
	    border: 1px solid #ccc;  /* 테두리 색상 조정 */
	}
	
	.form-group input[type="file"] {
	    display: block;
	}
	
	
	
	.transparent-button{
	  border: 0;
	  background-color: transparent;
	}
	.small_button{
	    height:50px;
	    width: 50px;
	
	}
	.bbsViewBtnWrap{
		margin-right:25px;
	}
	
	.action-button, .btn-heart, .btn-chat {
	    padding: 10px 20px;
	    background-color: #fafafa;
	    color: black;
	    text-decoration: none;
	    border-radius: 5px;
	    border: 1px solid #ccc;
	    transition: background-color 0.3s;
	    font-family: 'Arial', sans-serif; /* 폰트 변경 */
	    font-size: 16px; /* 폰트 크기 */
	    font-weight: bold; /* 폰트 두께 */
	}
	
	.action-button:hover, .btn-heart:hover, .btn-chat:hover {
	    background-color: #f0f0f0;
	}
	
	.btn-heart {
	    background-color: #ffcccc;
	    color: black;
	}
	
	.btn-chat {
	    background-color: #f06292;
	    color: black; /* 버튼의 길이 조정을 위해 추가 */
	}
