.btn { 
    border: 0; 
    background-color: transparent;
}

.action-button {
    padding: 10px 20px;
    background-color: #FF69B4; /* 핑크색 */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* 간격 조절 */
}

.bbsViewImgWrap {
    text-align: center; /* 이미지 중앙 정렬 */
}

.bbsViewImg {
    max-width: 100%; /* 최대 너비 설정 */
    max-height: 400px; /* 최대 높이 설정 */
    object-fit: contain; /* 비율 유지 */
}
