@charset "UTF-8";

html, body{
	height: 100%;
}


.chatRoomBar-wrapper {
		padding-top:10px;
		width:300px;
		float:left;
		background-color: white;
    	box-sizing: border-box;
    	border-right: 2px solid #c0c0c0;
	}
	
	a {text-decoration:none;color:inherit;}
	.clear{clear:both;}
	.chatRoom-wrapper{
		background-color:white;
		width: 100%;

	}

	.chatRoom-content{
		
	}
	
	.chatRoom-chatPartner{
		font-weight: bold;
	}
	
	.chatRoom-detail{
		display:flex;
		color: #616161
	}
	
	.chat-Content{
		font-size: 14px;
    	margin-right: 5px;
	}
	
	.chat-date{
	    font-size: 11px;
	    align-content: end;
	}
	
	.chat-idntyYn{
		margin-left: 160px;
	}

/*hover 관련?*/	
	/*v1*/
	.chatRoomList{
		line-height:2;
		border-bottom:1px solid #c0c0c0;
		padding: 10px;
	}
	.chatRoomList:hover{background-color:#fafafa;}
	
	
/*채팅방 선택 후*/

/*상대 프로필*/
	.partner-profile{
		position: fixed;
	    height: 30px;
	    width: calc(100% - 300px);
	    background: whitesmoke;
	    border-bottom: 1px solid #c0c0c0;
	    text-align: center;
    	font-weight: bold;
	}

/*게시글 관련*/	

	.bbs-content{
		position:fixed;
		width: calc(100% - 300px);
	    top: 160px;
	    padding: 10px;
	    border-bottom: 1px solid #c0c0c0;
	    background: white;
			
	}

	.product-title{
		font-size: 20px;
		font-weight: bold;
	}
	
	.price-wrapper {
		display: flex;
	}
	
	.sleCmptnYn-btn {
		font-size: 11px;
		margin: 5px;
		padding: 5px;
		height: 20px;
		width: 60px;
		box-sizing: border-box;
		border: 1px solid black;
		background-color: #c0c0c0;
		align-content: center;
	}
	
	.product-price {
		font-weight: bold;
		align-content: center;
	}
	
	#serviceBtn{
		border: 1px solid #c0c0c0;
	    outline: none;
	    background: #f0f0f0;
	    width: 100px;
	    height: 25px;
	    margin-top: 5px;
	    text-align:center;
	    margin-right: 5px;
	}
	
/*채팅 관련*/
	.chatting-wrapper{
		padding: 20px;
		width: 100%;
		text-align: right;
		overflow: auto;
		margin-top: 110px;
		height: calc(100% - 100px);
	}

	.chat-part{
		display:flex;
	}
	
	.loginMember-chat{
		justify-content: end;
	}
	
	.chatPartner-chat .additional-info {
		order: 2;
	}
	
	.additional-info{
		color: #616161;
		align-content: end;
	}
	
	.idntyYn{
		font-size: 11px;
	}
	
	.sendDt{
		font-size: 11px;
	}

	.chatBox{
		border-radius: 20px;
		padding: 10px;
		font-size: 15px;
		margin-right: 5px;
		margin-top: 10px;
		box-sizing: border-box;
	}
	
	.chatPartner-chat .chatBox {
		background: #dbdbdb;
	}
	
	.loginMember-chat .chatBox {
		background: #fff0f5;
	}
	
	.chat-part .chatBox .chatCn {display:block; max-width: 300px;}
	
	.chat_input {
		width: calc(100% - 300px);
	    height: 60px;
	    border: none;
	    border-top: 2px solid #c0c0c0;
	    position: fixed;
	    bottom: 0px;
	    box-sizing: border-box;
	    background: white;
	    right: 0;
	    /*display: flex;*/
	}
	
	.chat_input_area {
		width: calc(100% - 50px);
		height: 100%;
		display: inline-block;
	}
	
	.chat-text {
		outline: none;
		border: none;
		width: 100%;
		height: 100%;
	}
	
	.chat_button_area {
		display: inline-block;
		width: 40px;
	}

	.chat_input button {
		width: 100%;
	}
	