@charset "UTF-8";
	*{
		margin:0;
		padding:0;
		list-style:none;
		font-family:"malgun gothic";
		box-sizing:border-box;
	}
	body {
		margin:0;
	}
	.content {
		overflow: hidden;
	    margin:120px 0 0 0;
	}
	
	.header-wrapper {
		
		top: 10px;
		height: 100px;
		padding: 1rem;
		display: flex;		
		margin: 20px;
		background: #fff;
		position: fixed;
		width: 100%;
		left: 0;
		box-sizing: border-box;
	}
	
	.member-wrapper {
		position:fixed;
	}
	
	.header-menu-block {
		overflow:hidden;
		position: fixed;
		top:50px;
		left:0;
		right:0;		
		height:75px;
		padding:1rem;
		color:black;
		font-weight:bold;
		display:flex;
		justify-content:space-between;
		align-items:center;
		box-sizing: border-box;
	}
	
	
	.ctgryBar-wrapper {
		width:200px;
		float:left;
		background-color: white;
    	min-height: 660px;
	}
	
	a {text-decoration:none;color:inherit;}
	.clear{clear:both;}
	.ctgry-content-container{background-color:white;width:200px;}
	
	.ctgry-content {display: none;}
	
	/*v1*/
	.nav-v1{width:200px;text-align:center;}
	.menu-v1{
		line-height:2;
		border:1px solid #222;
	}
	.menu-v1:hover{background-color:#000;}
	.menu-v1:hover>a{color:white;font-weight:bold;}
	.menu-v1 .submenu{
		margin-top:7px;
		background-color:#fff;
		display:none;
	}
	
	.ctgryBar-wrapper{padding:20px;}
	.ctgry-content-container{display:none; }
	.ctgry-menu-btn{float:right;}
	
	.ctgry-menu-control:hover .ctgry-content-container{display:block;}
	