<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.mappers.member">
	
	<select id="findByMbrId" resultType = "com.secondhand.domain.MemberDTO" parameterType = "String">
		SELECT	MBR_ID 		AS mbrId,
				MBR_PWD		AS mbrPwd, 
				MBR_EMAIL   AS mbrEmail,
             	RGN         AS rgn
		FROM TB_MBR
		WHERE MBR_ID = #{loginId}				
	</select>
	
	<insert id="save" parameterType="com.secondhand.domain.MemberDTO">
		INSERT INTO tb_mbr
		( 
			MBR_ID,
			MBR_NM,
			MBR_PWD,
			RGN,
			RGN_SCP,
			JOIN_DT,
			MBR_EMAIL
		)
		VALUES(	#{mbrId},
				#{mbrNm},
				#{mbrPwd},
				#{rgn},
				3,
				now(), 
				#{mbrEmail}
		)
	</insert>		
	
	<delete id="delete" parameterType="com.secondhand.domain.MemberDTO">
		DELETE 
		FROM tb_mbr
		WHERE mbr_id = #{mbrId}
	</delete>
	
	<select id="getBMKByMbrId" resultType = "String" parameterType = "String">
		SELECT	BMK 		AS BMK
		FROM TB_MBR
		WHERE MBR_ID = #{loginId}				
	</select>
	
	<select id="updateBMKByMbrId" parameterType = "HashMap">
		UPDATE TB_MBR 
		SET BMK = #{NewBMK}
		WHERE MBR_ID = #{loginId}
	</select>
	
	<update id="updateProfile" parameterType="com.secondhand.domain.MemberDTO">
      UPDATE TB_MBR
      SET
         PROFILE_PHOTO_URL = #{profilePhotoUrl},
         STORE_DESCRIPTION = #{storeDescription}
      WHERE MBR_ID = #{mbrId}
   </update>

   <select id="getUserProfile" parameterType="string" resultType="com.secondhand.domain.MemberDTO">
      SELECT
         MBR_ID AS mbrId,
         PROFILE_PHOTO_URL AS profilePhotoUrl,
         STORE_DESCRIPTION AS storeDescription
      FROM TB_MBR
      WHERE MBR_ID = #{mbrId}
   </select>  
   
   <select id="getRecentViewedByMbrId" resultType = "String" parameterType = "String">
		SELECT	RCNT_VIEW
		FROM TB_MBR
		WHERE MBR_ID = #{loginId}				
	</select>
	
	<select id="updateRecentView" parameterType = "HashMap">
		UPDATE TB_MBR 
		SET RCNT_VIEW = "${NewRecentView}"
		WHERE MBR_ID = #{loginId}
	</select>
	
</mapper>